{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form action= '/artist/' method='POST'> {% csrf_token %}
        <form>
            {{ form.as_p }}
            <!-- <input type='submit' value='Search' /> -->
        </form>
</div>

<div class="container">


    <div class ="row">
        <div class="col-md-auto">
            <img src={{ artist_photo }} class="rounded mx-auto d-block">
            <canvas id="RadarAnalysis" width="400" height="400"></canvas>
        </div>
        
        <div class="col">
            <h1> {{ artist_name }} 
                {% for genre in genres %}
                    <span class="badge rounded-pill bg-secondary">{{ genre }}</span>
                {% endfor %}
            </h1>
            <p> 
                <div class ="row">
                    <div class="col-md-auto">
                        <div class="card card-body">
                            <p style="color:black"> {{ artist_bio }} </p>
                        </div>
                    </div>
                    <canvas id="ChartAnalysis" width="800" height="700"></canvas>
                </div>
            </p>
        </div>
    </div>
</div>

    <script>
        // DATA
        const data = {{ChartData |safe}};

        // OPTIONS
        var options = {
                responsive:true, 
                plugins: {
                    tooltip:{
                        bodyColor: ' 	#191414',
                        backgroundColor: 'rgba(155, 155, 155, 0.8)',   
                        displayColors : false,
                        titleFont: {style: 'bold'},
                        

                        bodySpacing: 5,
                        callbacks :{
                            label: function(context){
                                
                                
                                var index = context.dataIndex;
                                
                                return ['Valence:           ' + context.dataset.data[index].y, 'Danceability:   ' + context.dataset.data[index].x, 'Energy:            ' + + context.dataset.data[index].r];
                            },
                            title: function(context){
                                var index = context[0].dataIndex;
                                  
                                return context[0].dataset.data[index].track_name
                            }
                        }
                    }
                }
            };
        
        
        var ctx = document.getElementById('ChartAnalysis');

        var myChart = new Chart(ctx, {
            type: 'bubble',
            data: data,
            options: options,
            });

        </script>

    <script>

    var ctx = document.getElementById('RadarAnalysis');
    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['Acousticness', 'Danceability', 'Energy', 'Instrumentalness', 'Liveness', 'Valence'],
            datasets: [{
                label: 'Attributes',
                data:[  {{ features.acousticness }}, 
                        {{ features.danceability }},
                        {{ features.energy }},
                        {{ features.instrumentalness }},
                        {{ features.liveness }},
                        {{ features.valence }}
                    ],
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',      
                borderColor: ['rgba(255,99,132,1)',],    
                borderWidth: 3,

            }]
        },
        options: {
            responsive: false,
            plugins: {
                    tooltip:{
                        bodyColor: ' 	#191414',
                        backgroundColor: 'rgba(155, 155, 155, 0.8)',   
                        displayColors : false,
                        titleFont: {style: 'bold'},
                    }
                },
                elements: {
                line: {
                    borderWidth: 5
                }
            }
        }
    });

    </script>



{% endblock %}