{% extends 'base.html' %}

{% block content %}

<form action= '.' method='POST'> {% csrf_token %}
    <form>
        {{ form.as_p }}
        <input type='submit' value='Search' />
    </form>


<h1>Artist Page</h1>
<ul>
    {% for artist in artists %}
    <li>{{ artist.name }}</li>
    <!-- <a href='?analysis={{ artist.uri }}' action='/artist/analysis' method='POST'> {% csrf_token %}
        <input type='image' src= {{ artist.images.2.url }}>
    </a> -->
    <form action='/analysis/' method='POST'> {% csrf_token %}
        <input type='image' name='{{ artist.uri }}' src={{ artist.images.2.url }}>

    </form>
    
    {% endfor %}

</ul>

{% endblock %}