{% extends 'base.html' %}

{% block content %}

<script>
    function ShowAndHide() {
        var x = document.getElementById('SectionName');
        var y = document.getElementById('artists');
        if (x.style.display == 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
        if (y.style.display == 'none') {
            y.style.display = 'block';
        } else {
            y.style.display = 'none';
        }
    }
</script>

<DIV ID="SectionName" STYLE="display:none">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</DIV>

<DIV ID="artists" STYLE="display:block">
<form action= '.' method='POST'> {% csrf_token %}
    <form>
        {{ form.as_p }}
        <!-- <input type='submit' value='Search' /> -->
    </form>



<h1>Artist Page</h1>
<ul>
    
        <div class="container-fluid">
            <div class="row">
                {% for artist in artists %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card text-center text-white bg-dark mb-3" style="width: 18rem;">
                            <form action='/analysis/' method='POST'> {% csrf_token %}
                                <input onclick="ShowAndHide()" type='image' class="rounded-circle" name='{{ artist.uri }}' src={{ artist.images.2.url }}>
                            </form>
                            <div class="card-body">
                            <h5 class="card-title-center">{{ artist.name }} </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    

</ul>
</DIV>
{% endblock %}