{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href={% static 'pages/artist.css' %}>

<script>
    function ShowAndHide() {
        var x = document.getElementById('spinner');
        var y = document.getElementById('artists');
        if (x.style.display == 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
        if (y.style.display == 'none') {
            y.style.display = 'block';
        } else {
            y.style.display = 'none';
        }
    }
</script>

<DIV ID="spinner" STYLE="display:none">
    <div class="center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
    </div>
</DIV>

<DIV ID="artists" STYLE="display:block">
<form action= '.' method='POST'> {% csrf_token %}
    <form>
        {{ form.as_p }}
    </form>



<h1 style="text-align:center; color:whitesmoke">Artists</h1>
<ul>   
    <div class="container">
        <div class="row">
            {% for artist in artists %}
                <div class="col-sm-auto mb-3">
                    <div class="card" style="width: 13rem;">
                        <form action='/analysis/' method='POST'> {% csrf_token %}
                            {% if artist.images.0.url == None %}
                            {% load static %}
                            <input onclick="ShowAndHide()" type='image' class = 'square' name='{{ artist.uri }}' src={% static 'pages/nopreview.png' %}>
                            {%  else %}
                            <input onclick="ShowAndHide()" type='image' class = 'square'name='{{ artist.uri }}' src= '{{ artist.images.0.url }}' >
                            {% endif %}
                        </form>               
                        <div class="card-body">
                        <h5 class="artistname">{{ artist.name }} </h5>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </div>
</ul>

</DIV>
{% endblock %}