<style>

    .page-header {
        margin-top: 0;
        margin-bottom: 40px;
        padding: 20px 20px 20px 40px;
    }

    .page-header h1,
    .page-header h1 a,
    .page-header h1 a:visited,
    .page-header h1 a:active {
        color: #1DB954;
        font-size: 36pt;
        text-decoration: none;
    }

    .responsive {
    width: 100%;
    height: auto;
    max-width:400px;
    }

</style>

<header class="page-header">
        <div class="text-center">
            <h1><a href='/home/'>Artist Analyzer for</a></h1>
            {% load static %}
            <img src={% static 'pages/Spotify_Logo_RGB_Green.png' %} class="responsive">
            
        </div>
</header>
