<style>

    .page-header {
        background-color: #39c71d;
        margin-top: 0;
        margin-bottom: 40px;
        padding: 20px 20px 20px 40px;
    }

    .page-header h1,
    .page-header h1 a,
    .page-header h1 a:visited,
    .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
    }

</style>

<header class="page-header">
    <div class="container">
        <h1><a href='/home/'>Spotify Artist Analyser</a></h1>
    </div>
</header>
