<style>
    .container {
        display: flex;
        flex-direction: row;
    }
    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }

    .card{
    border-radius: 4px;
    background: #171717;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    padding: 30px 30px 30px 30px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: 0.6s;
    text-align: center;
}

.card:hover{
    
    background: #282828;
}


}

.artistname{
    font-family: sans-serif;
    color: white;
    font-weight: bold;

}

.square{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-size:cover;
    background-position:center;
    border-radius:50%;
}
</style>
